<p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p>

<form>
  <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Text</th>
    <th scope="col">Link</th>
    <th scope="col">Type</th>
  </tr>
  </thead>
  
  <!-- TODO:  Old version as a template: -->
  <!-- <tbody>
    <tr *ngFor="let country of countries$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>
    </tr>
  </tbody> -->

  <tbody>
    <tr >
      <!-- <th scope="row">{{ i + 1 }}</th> -->
      <td>
        <ngb-highlight [result]="events.id" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="events.text" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="events.self" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="events.type" [term]="filter.value"></ngb-highlight></td>
    </tr>
    </tbody>

</table>


